/* GLOBAL */

body {
  background-color: #222831;
  color: #EEEEEE;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  font-style: italic;
  color: #EEEEEE;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    padding-top: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    font-style: italic;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-style: italic;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* NAV MENU*/

.brand-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* HOMEPAGE */

.home-content {
  text-align: right;
  padding-top: 30px;
  font-size: 1.25rem;
  color: #EEEEEE;
}

.home-search {
  text-align: left;
  padding-top: 55px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.25rem
}

.form-field {
  margin-bottom: 20px;
}

.ui-autocomplete-input {
  width: 250px;
}

.button-compare {
  align-items: center;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #222831;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-bottom: 40px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 250px;
}

.button-compare:hover {
  background-color: #393E46;
  border-color: #EEEEEE;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #EEEEEE;
}

/* ABOUT */
.about-text {
  font-size: 1.25rem;
  list-style-type: circle;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

/* RESULTS PAGE */

.comparison {
  text-align: center;
  padding: 50px 70px;
}

.music-image {
  width: 60%;
  border: 3px solid #e5e5e5;
}

.results {
  padding-top: 50px;
}

.results-title {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
  font-weight: 900;
  font-style: italic;
}

.circle {
  width: 45%;
  margin: auto;
  border-radius: 50%;
  background: #EEEEEE;
  line-height: 0;
  position: relative;
}

.circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-txt {
  position: absolute;
  font-size: 4rem;
  bottom: 50%;
  width: 100%;
  color: #00ADB5;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.results-text {
  margin-top: 30px;
  font-size: 1.25rem;
  padding-left: 2%;
  padding-right: 2%;
}


.fa-info-circle {
  color: #00ADB5;
}

.attributes-item {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
}

.red-tooltip ~ .tooltip > .tooltip-inner {
  background-color: #f00;
  padding: 10px;
  font-size: 14px;
}

/* Slider */
.slidecontainer {
  padding-top: 2%;
  padding-bottom: 6%;
}

.slider {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #EEEEEE;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00ADB5;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00ADB5;
}

@media (max-width: 1024px) {
  .home-content {
    text-align: right;
    font-size: 1.25rem;
  }
  .home-search {
    text-align: left;
    padding-top: 25px
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3, h4 {
    font-size: 1rem;
  }

  .circle-txt {
    font-size: 3rem;
  }

  .results {
  padding-top: 0px;
  }

  .results-title {
    padding-right: 10%;
    padding-left: 10%
  }

  .comparison {
    text-align: center;
    padding: 10px 23px;
  }
  .ui-autocomplete-input {
  width: 180px;
  }

  .button-compare {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .home-content {
    text-align: center;
    font-size: 1.25rem;
  }
  .home-search {
    text-align: center;
    padding-top: 5px
  }

  .results {
  padding-top: 0px;
  }

  .results-title {
    padding-right: 10%;
    padding-left: 10%
  }

  .comparison {
    text-align: center;
    padding: 10px 23px;
  }
  .ui-autocomplete-input {
  width: 50%;
  }

  .button-compare {
    width: 50%;
  }

  .about {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }
}
