{% include "head.html" %}
{% include "header.html" %}

<div class="row">
  <div class="col-md-6 col-sm-12 home-content">
    <h1>Music<br>Match</h1>
    <p class="home-paragraph">A Python web-application built<br>
      with Flask, Spotify & MusixMatch API<br>
      comparing how likely musics are.</p>
  </div>
  <div class="col-md-6 col-sm-12 home-search">
    <form action="{{ url_for('results') }}" method="POST">
      <fieldset class="form-field">
        <span>First Music:</span><br>
        {{ form.autocomplete(size=30) }}
      </fieldset>
      <fieldset class="form-field">
        <span>Second Music:</span><br>
        {{ form.autocompletemusic }}
      </fieldset>
      <input type="submit" class="button-compare" value="Compare it!">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color: red">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>
</body>

<!-- AUTO COMPLETE FUNCTIONS -->
  <script type="text/javascript">
      $(function() {
          $("#autocomplete").autocomplete({
              source:function(request, response) {
                  $.getJSON("{{url_for('autocomplete')}}",{
                      q: request.term, // in flask, "q" will be the argument to look for using request.args
                  }, function(data) {
                      response(data.matching_results); // matching_results from jsonify
                  });
              },
              minLength: 5,
              select: function(event, ui) {
                  console.log(ui.item.value);
              }
          });
      })
  </script>
  <script type="text/javascript">
    $(function() {
        $("#autocompletemusic").autocomplete({
            source:function(request, response) {
                $.getJSON("{{url_for('autocomplete')}}",{
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function(data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 5,
            select: function(event, ui) {
                console.log(ui.item.value);
            }
        });
    })
  </script>
</html>
